<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= wiked_pdf_stylesheet_link_tag "application"%>
   
  
    <%= wiked_pdf_stylesheet_link_tag "assets/new_user_session"%>
    <%= wiked_pdf_stylesheet_link_tag "assets/custombg"%>
    <%= wiked_pdf_stylesheet_link_tag "stylesT.css"%>
  </head>
  <body>
    <%= yield %>
  </body>
</html>