<div id="<%= dom_id wtransaction %>">
  <p>
    <strong>Wallet:</strong>
    <%= wtransaction.wallet_id %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= wtransaction.card_id %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= wtransaction.balance %>
  </p>

  <p>
    <strong>Entry:</strong>
    <%= wtransaction.entry %>
  </p>

  <p>
    <strong>New balance:</strong>
    <%= wtransaction.new_balance %>
  </p>

  <p>
    <strong>Integer:</strong>
    <#%= wtransaction.integer %>
  </p>

</div>
