<div>
  <p>
    <strong>Usuario:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= @user.name%>
  </p>


  <p>
    <strong>Apellido:</strong>
    <%= @user.surname %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>DNI:</strong>
    <%= @user.dni %>
  </p>  
  
  <p>
    <strong>Fecha de registro:</strong>
    <%= @user.created_at.strftime("%d/%m/%Y") %>
  </p>
  
  <%# <p>
    <strong>Ultima actualización:</strong>
    <%= current_user.updated_at.strftime("%d/%m/%Y") %>
  <%# </p> %>
</div>