<section class="px-4 py-5 gradient-custom" style=" border-radius: .5rem .5rem 0 0;">
<div class="row d-flex justify-content-center align-items-center vh-100">
  <div class="col-12 col-md-8 col-lg-6 col-xl-6 col-xxl-4">
    <div class="card shadow" style="border-radius: 1rem;">
      <div class="card-body p-5 text center">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>     
              <div class="form-inputs">
                <h2 class="mb-5 text-center">Bienvenido</h2>
                <%=f.error_notification%>
                <div class="form-outline mb-4">
                      <%= f.input :email,label:"Correo electrónico",required: false,autofocus: true,input_html: {autocomplete: "email", class:"form-control form-control-lg"} %>
                </div>
                <div class="form-outline mb-4">
                      <%= f.input :password, label:"Contraseña", required: false,input_html: {autocomplete: "current-password", class:"form-control form-control-lg" } %>
                </div>
                <div class="form-check d-flex justify-content-between mb-4 p-0">
                          <%= f.input :remember_me,input_html:{class:"m-1"},label:"Recuérdame", as: :boolean if devise_mapping.rememberable?%>
                      <div class="d-flex justify-content-end">
                          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                          <%= link_to "Olvidé mi contraseña", new_password_path(resource_name), class:"text-muted text-decoration-none"%><br/>
                          <% end %>
                      </div>
                </div>            
              </div>
            <div class="text-center">
              <%= f.button :submit, "Iniciar sesión", class:"botonlogin"%>
            
            <div class="mt-3">
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Registrarse", new_registration_path(resource_name), class:"text-decoration-none" %><br />
                <% end %>
            </div>
            </div>
            <!--<%= render "devise/shared/links" %>
            <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">O</p>
            </div>
            <button class="btn btn-lg btn-block mb-2 shadow"  type="submit" id="botongoogle"><i class="bi bi-google"></i> Ingresar con Google</button>
            <button class="btn btn-lg btn-block shadow" type="submit" id="botonfacebook"><i class="bi bi-facebook"></i> Ingresar con Facebook</button>-->
         <% end %>   
      </div>
    </div>
  </div>
</div>
</section>
